<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments/mail-wrapper.html :: mailHead"> </head>
  <body>
    <div class="pi-email-container">
      <div class="pi-email-body">
        <div th:replace="fragments/mail-wrapper.html :: mailHeader"></div>
        <section>
          <p class="pi-email-dear">Hello there!</p>
          <p>
            See below update on your
            <strong><span th:text="${campaignName}"></span></strong> campaign
          </p>

          <div class="pi-email-flex-center">
            <span class="pi-email-flex-column right-border">
              <strong class="text-green"
                >&#x20A6;<span th:text="${#numbers.formatInteger(targetAmount,3,'COMMA')}"></span
              ></strong>
              <span>Targeted</span>
            </span>
            <span class="pi-email-flex-column right-border">
              <strong class="text-blue"
                >&#x20A6;<span th:text="${#numbers.formatInteger(targetRaised,3,'COMMA')}"></span
              ></strong>
              <span>Raised</span>
            </span>
            <span class="pi-email-flex-column right-border">
              <strong class="text-teal"><span th:text="${donors}"></span></strong>
              <span>Donors</span>
            </span>
            <span class="pi-email-flex-column end">
              <strong class="text-black"><span th:text="${shares}"></span></strong>
              <span>Shares</span>
            </span>
          </div>

          <div class="pi-email-flex-center">
            <button class="pi-email-button primary">See Details</button>
          </div>

          <div th:replace="fragments/mail-wrapper.html :: mailCloser"></div>
        </section>
      </div>
      <div th:replace="fragments/mail-wrapper.html :: mailFooter"></div>
    </div>
  </body>
</html>
