<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments/mail-wrapper.html :: mailHead"> </head>
  <body>
    <div class="pi-email-container">
      <div class="pi-email-body">
        <div th:replace="fragments/mail-wrapper.html :: mailHeader"></div>
        <section>
          <div class="pi-email-dear">
            <strong>Hello <span th:text="${userName}"></span>,</strong>
          </div>
          <p>
            This is to remind you that your campaign (<strong
              ><span th:text="${campaignName}"></span></strong
            >) will reach its set target date in a week. Once your campaign has reached its target
            date, it will no longer be available for donations.
          </p>

          <p th:if="${campaignTarget < donationsReceived}">
            We can see that your campaign has recieved donations beyond its set target amount.
          </p>
          <p th:if="${campaignTarget == donationsReceived}">
            We can see that your campaign has achieved its set target amount.
          </p>

          <p>Congratulations! It just shows how passionate people were about your cause.</p>

          <p>
            We hope we were able to help you get closer to achieving your dreams and we are always
            here the next time you intend to raise money for a cause.
          </p>

          <div th:replace="fragments/mail-wrapper.html :: mailCloser"></div>
        </section>
      </div>
      <div th:replace="fragments/mail-wrapper.html :: mailFooter"></div>
    </div>
  </body>
</html>
